<div class="footer">
  <a href="https://www.facebook.com/bahama.mammas.tanning"><img class="face" src="../../assets/facebook.png" alt="facebook"></a>
  <a href="https://twitter.com/bahamamammatan"><img class="face" src="../../assets/twitter.png" alt="facebook"></a>
  <a href="https://www.instagram.com/bahamamammastanning/?hl=en"><img class="face" src="../../assets/intsagram.jpeg" alt="facebook"></a>
  
  <div class="info">
    Location: 3850 Dougall Avenue, Windsor, ON N9G 1X2 
    <br>
    <a href="tel:519-969-2848">Phone: (519) 969-2848</a>
    <br>

    <b>Hours</b>
    
    <br>
    Weekdays: 10am-7pm <br>Saturdays: 10am-3pm
  </div>
  
  <br>
  
  <p class="me">
  Website made by Dante Masciotra
  </p>
</div>