<div class="main" >

  <div class="title">
    <h2>Welcome to Bahama Mamma's</h2>
  </div>
  <!-- <button (click)="pre()">&#10094;</button>
  <button (click)="next()">&#10095;</button>
  <div class="Gallery">
    <div class="Slide"><img src="../../assets/stock.jpg" alt="just a test"></div>
    <div class="Slide hideImg"><img src="../../assets/stock2.jpg" alt="just a test"></div>
  </div> -->

  <div class="info">
    <p>Escape into a world of total comfort, relaxation, and rejuvenation. For several years now, we have been providing our Windsor customers with unsurpassed top notch service!<p>
    <p>Our friendly and knowledgeable staff do the utmost for our clients, whether it’s our long standing clients or someone in for the first time tan. Our Bronze Sun bulbs are on a strict maintenance program, so no matter when you arrive, you get the most effective tanning possible. Indulge yourself with one of our special Bahama Mamma Cabana packages.</p>
    <p><b>No Membership Fees!</b></p>
    <div class="list">
      <h3>Benefits of our tanning salon</h3>
      <p>Get Vitamin D naturally</p>
      <p>Better mood</p>
      <p>Feel healthier</p>
      <p>Feel energized</p>
      <p>Acne control</p>
    </div>
  </div>


</div>