<div class="main">

  <div class="title">
    <h2>Air Brush</h2>
  </div>

  
<iframe class="HideComp ShowMob frame" src="../../assets/brushInfo.html" frameborder="0">
  <p>your broswer does not support iFrames</p>
</iframe>

<div class="info HideMob ShowComp">
<div class="Prepare">
  <h2>How To Preparing For Your Airbrush Tan</h2>
  <p><strong class="sub">EXFOLIATE.</strong> This is extremely important! Exfoliate your skin the night before or morning of your appointment to remove dead skin cells. Best results occur when exfoliation is done several hours prior to our spray session.</p>
  <p><strong class="sub">BE CLEAN.</strong> Avoid wearing makeup, perfumes, lotions, oils, deodorants or any product on the skin that would create a barrier. Your skin MUST be completely clean & dry for the best results.</p>
  <p><strong class="sub">SHAVE EARLY.</strong> Shave/wax at least 8 hours before your session to minimize irritation.</p>
  <p><strong class="sub">DRESS APPROPRIATELY.</strong> Have dark, loose fitting clothing and under-garments to wear after your appointment.</p>
  <p><strong class="sub">CHECK YOUR MEDS.</strong> Medicated or prescription lotions may act as barriers to tanning solutions. We recommend you wait at least five days from the last use before you get an airbrush tan.</p>
  <p><strong class="sub">NO SUNBURNS.</strong> Sunburns have a possibility of peeling, which will peel your Airbrush Tan off. Do not get an Airbrush Tan until your skin has peeled.</p>
</div>
<div class="During">
  <h2>During Your Airbrush Tan</h2>
  <p><strong class="sub">UNDERGARMENTS.</strong> You are required to wear bottoms of your choice, tops are optional.</p>
  <p><strong class="sub">AIRBRUSH PROCESS.</strong> The tanning process takes approximately 10-15 minutes to apply in which you'll be airbrushed by hand by our Paasche Airbrush System.</p>
  <p><strong class="sub">WAIT. </strong> You will be asked to remain in the room for 5 minutes before you get dressed to allow the solution to dry completely and evenly.</p>
</div>
<div class="after">
  <h2>How To Maintain Your Airbrush Tan</h2>
  <p><strong class="sub">AVOID WATER.</strong> Wait 8-12 hours after your tan before showering, sweating or coming into contact with warer.</p>
  <p><strong class="sub">WEAR LOOSE CLOTHING. </strong> After your tan, wear dark, loose fitting clothing for 6-8 hours. (Tight clothing will rub your tan uneven. After your post-tan shower, avoid clothing that chafe or do anything to encourage the skin to shed.)</p>
  <p><strong class="sub">MOISTURIZE. MOISTURIZE. MOISTURIZE.</strong> This is the most important step in maximizing your sunless tan. You can extend the life of your tan by nearly double by using a quality moisturizer morning and evening after first post-tan. We have tan extender lotions available to purchase.</p>
  <p><strong class="sub">WASH CAREFULLY.</strong> Use a moisturizing body wash product, to help keep skin moist. Pat your skin dry after bathing or showering, don't rub.</p>
  <p><strong class="sub">AVOID EXFOLIATING.</strong> Avoid any hard scrubbing or exfoliation in the shower, which will remove or lighten the tan (until you are ready for your next tan).</p>
  <p><strong class="sub">AVOID PRODUCTS WITH ALCOHOL AND AHA. </strong> The most common cause of pre-mature fading is due to the use of products (lotions and soaps) containing alcohol.</p>
  <p><strong class="sub">BE CAUTIOUS WITH CHLORINE.</strong> A sunless tan will almost always fade when you are submerged in any type of water for any length of time. Avoid long hot showers arid baths, and excessive exposure to chlorine in swimming pools and hot tubs.</p>
  <p><strong class="sub">EASY ON THE SWEAT.</strong> Take care when exercising as excess sweat may cause your tan to fade unevenly.</p>
</div>
</div>

</div>