<div class="main">

  <div class="title">
    <h2>Prices</h2>
  </div>

  <div class="Minute pricing">
      <h4>Minute (Shareable)</h4>
    <table align="center">
      <tr>
        <td class="time">100 Minutes</td>
        <td class="price">$50</td>
      </tr>
      <tr>
        <td  class="time">200 Minutes</td>
        <td class="price">$80</td>
      </tr>
      <tr>
          <td  class="time">300 Minutes</td>
          <td class="price">$105</td>
      </tr>
      <tr>
          <td  class="time">400 Minutes</td>
          <td class="price">$130</td>
      </tr>
      <tr>
          <td  class="time">500 Minutes</td>
          <td class="price">$140</td>
      </tr>
      <tr>
          <td  class="time">1000 Minutes</td>
          <td class="price">$240</td>
      </tr>            
    </table>
  </div>

  <div class="Unlimited pricing">
      <h4>Unlimited (Non-Shareable)</h4>
    <table align="center">
      <tr>
        <td class="time">1 Year</td>
        <td class="price">$499</td>
      </tr>
      <tr>
        <td class="time">2 Week</td>
        <td class="price">$50</td>
      </tr>
      <tr>
        <td class="time">1 Month</td>
        <td class="price">$75</td>
      </tr>
    </table>
  </div>
  
  <div class="PreSes pricing">
      <h4> Pay Per Session</h4>
    <table align="center">
      <tr>
        <td class="level">Low Intensity Beds</td>
        <td class="price">$0.65</td>
      </tr>
      <tr>
        <td class="level">High Intensity Beds</td>
        <td class="price">$1.30</td>
      </tr>
      <tr>
        <td class="level">High Pressure Beds</td>
        <td class="price">$1.80</td>
      </tr>
    </table>
  </div>
    <div class="Early pricing">
        <h4>Early Bird Tanning</h4> 
        <h5>*Everyday Untill <strong>NOON</strong> And All Day Sunday*</h5>

      <table align="center">
        <tr>
          <td class="level">Low Intensity Beds</td>
          <td class="price">$7.00</td>
        </tr>
        <tr>
          <td class="level">High Intensity Beds</td>
          <td class="price">$8.00</td>
        </tr>
        <tr>
          <td class="level">High Pressure Beds</td>
          <td class="price">$13.50</td>
        </tr>
      </table>
    </div>

    <div class="Ratios pricing">
        <h4>Minutes Ratio</h4>      
      <table align="center">
        <tr>
          <td class='level'>Low Intensity Beds</td>
          <td class="ratio">1:1</td>
        </tr>
        <tr>
          <td class='level'>High Intensity Beds</td>
          <td class="ratio">2.5:1</td>
        </tr>
        <tr>
          <td class='level'>High Pressure Beds</td>
          <td class="ratio">4.4:1</td>
        </tr>
      </table>
    </div>

    <div class="Infrar pricing">
        <h4>Infrared Saunas </h4>
        <h5>Introductory Pricing - Subject To Change</h5>    
      <table align="center">
        <tr>
          <td class="time">Pay Per Minute</td>
          <td class="price">$0.75</td>
        </tr>
        <tr>
          <td class="time">30 Minute Session</td>
          <td class="price">$20</td>
        </tr>
        <tr>
          <td class="time">45 Minute Session</td>
          <td class="price">$35</td>
        </tr>
        <tr>
          <td class="time">1 Month Unlimited</td>
          <td class="price">$90</td>
        </tr>
      </table>
    </div>

      <div class="Brush pricing">
          <h4>Air Brush</h4>
        <table align="center">
        <tr>
          <td class="level">Full Body</td>
          <td class="price">$45</td>
        </tr>
        <tr>
          <td class="level">Half Body</td>
          <td class="price">$15</td>
        </tr>
      </table>
    </div>
 

</div>
