<div class="header">
  <div class="Background">
      <div class="Logo">
        <a routerLink="/"><img src="../assets/logo.png" class="imgLogo"></a>
      </div>
      
      
      <div class="Pages">
        <ul class="PageList">
          <!-- <li><a routerLink="/Benfits">Benefits</a></li> -->
          <li ><a class="infra" routerLink="/Infrared_Sauna"></a></li>
          <li ><a class="air" routerLink="/Air_Brush"></a></li>
          <li ><a class="price" routerLink="/Prices"></a></li>
        </ul>
      </div>
  </div>
</div>

<router-outlet></router-outlet>


<app-footer></app-footer>



