<div class="main">

  <div class="title">
    <h2>Infrared Sauna</h2>
  </div>

  <div class="info">
    <p>An infrared sauna is a type of sauna that uses light to create heat. A traditional sauna uses heat to warm the air, which in turn warms the body. An infrared sauna heats your body directly without warming the air around you.</p>
    <p>The appeal of saunas in general is that they cause reactions similar to those elicited by moderate exercise, such as vigorous sweating and increased heart rate. An infrared sauna produces these results at lower temperatures than a regular sauna does, which makes it accessible to people who can't tolerate the heat of a conventional sauna</p>
    <p>Infrared saunas are increasingly popular in the health and wellnes community for a number of reasons including the numerous <strong>health benefits</strong> and they just make you feel good!</p>
  
    <div class="list">
      <h3>Top 9 Health Benefits Associated With Infrared Saunas</h3>
      <div class="benefits">
        <p>Detoxification</p>
        <p>Skin Purification</p>
        <p>Relaxation</p>
        <p>Reduces Inflammation</p>
        <p>Weight Loss</p>
        <p>Relief From Joint Pain</p>
        <p>Improved Circulation</p>
        <p>Immune System Boost</p>
        <p>Stress & Fatigue Reduction</p>
      </div>
    </div>
  </div>

</div>