body{
    color: black;
    font-family: "kandin",sans-serif;
}
@import url("https://use.typekit.net/cjt8xzu.css");

p{
    margin: 8px; 
}

h2{
    color: goldenrod;
    -webkit-text-stroke: 1.3px black;
    font-family: "kandin",sans-serif;
    margin-bottom: 0.5px;
}
.sub{
    color: rgb(233, 119, 25);
    -webkit-text-stroke: 1.3px black;
    font-family: "kandin",sans-serif;
}
